version: '3.7'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    environment:
      - DATABASE_URL=postgresql://postgres:vTrDLmISQPajxoWRTiWPOykaMDbqGgzl@caboose.proxy.rlwy.net:14363/railway
      - APP_ENV=prod
    volumes:
      - .:/var/www/html
    ports:
      - "$PORT:$PORT"  # Utilisation du port dynamique de Railway
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
