@import "tailwindcss";
@source not "../../public";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@theme {
  --color-indigo-50:  #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;

  --shadow-soft: 0 4px 24px rgba(0,0,0,0.06);
  --shadow-card: 0 8px 32px rgba(0,0,0,0.08);

  --font-brand: "Raleway", sans-serif;
}

/* @theme {
  --color-primary-50:  #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;

  --color-neutral-50:  #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;


  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;


  --shadow-soft: 0 4px 24px rgba(0,0,0,0.06);
  --shadow-card: 0 8px 32px rgba(0,0,0,0.08);
}


.dark {
  @theme {
    --color-neutral-50:  #171717;
    --color-neutral-100: #262626;
    --color-neutral-200: #404040;
    --color-neutral-300: #525252;
    --color-neutral-400: #737373;
    --color-neutral-500: #a3a3a3;
    --color-neutral-600: #d4d4d4;
    --color-neutral-700: #f5f5f5;
    --color-neutral-800: #fafafa;
    --color-neutral-900: #ffffff;
  }
} */




